body {
    margin: 0%;
    padding: 0%;
}
.hero {
    width: 100%;
    height: max-content;
    background-color: #F1F3FF;
    padding-right: 12px;
}
.hero .logo{
    width: 100px;
    height: 34px;
    background: #0D28A6
}
.hero .navbar {
    background-color: #F1F3FF;
}
.hero nav a {
    text-decoration: none;
    color: #000000;
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    margin: 0 10px 0;
    font-weight: bolder;
}
.hero nav .button a{
    color: #FFFFFF;
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    text-decoration: none;
}
.button {
    background: #5CB85F;
    border-radius: 2px;
    padding: 8px 12px 8px 12px;
    border: 0cm;
}
.button a{
    color: #FFFFFF;
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    font-weight: 500;
    line-height: 20px;
    text-decoration: none;
}
.banner {
    padding: 150px 0 0 70px;
}
.banner col h1 {
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 150%;
    color: #000000;
}
.banner col p{
    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
}
.banner .column-satu {
    margin: 5% 0% 10% 0%;
}
.car {
    width: 105%;
}


/* ------------------our-services---------------------- */
.our-services {
    margin-top: 100px;
}
.our-services h2 {
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
    margin-bottom: 20px;
}
.our-services p {
    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
}
.our-services ul li {
    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    list-style-type: none;
    margin-top: 20px;
    margin-left: -35px;
}
.our-service ul li img {
    margin-right : 12px;
}
/* ------------------why-us---------------------- */
.why-us {
    margin-top: 100px;
}
.why-us h2 {
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
    margin-left: 10px;
}
.why-us p {
    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    margin-left: 10px;
}
.why-us .card{
    border: 1px solid #D0D0D0;
    border-radius: 8px;
    margin: 0px 0px;
}
.why-us .card img{
    margin: 25px 10px;
    width: 12%;
    
}
.why-us .card h5{
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    margin: 12px 0px;
}
.why-us .card p{
    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    margin: 16px 0px;
}

/* ------------------testimonial---------------------- */
.testimonial {
    margin-top: 100px;
}
.testimonial .card{
    border: 0px solid white;
}
.testimonial .card-body {
    padding: 50px 20px;
    border-radius: 17px;
    background-color: #F1F3FF;
    margin-top: 12px;
}
.testimonial p {
    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #000000;    
}
.testimonial b {
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
}

/* ------------------cta-banner---------------------- */
.cta-banner {
    height: 300px;
    width: 100%;
    margin-top: 100px;
    padding: 50px;
    background: #0D28A6;
    border-radius: 13px;
    text-align: center;
    padding-top: 5%;
}
.cta-banner h1 {
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 150%;
    color: #FFFFFF;
}
.cta-banner p {
    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    width: 60%;
    margin: 2% auto;
}

/* ------------------FAQ---------------------- */
.faq {
    margin-top: 125px;
}

/* ------------------footer---------------------- */
footer {
    height: max-content;
    width: 90%;
    padding: 20px;
    margin: 75px 86px 17px 86px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer .text p {
    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
}
footer .link a {
    text-decoration: none;
}
footer .link p{
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    font-weight: bold;
    color: #000000;
}

/* ------------------filter---------------------- */
.filter{
    width: 80%;
    height: max-content;
    margin: -33 auto;
    border-radius: 25px;
    padding: 30px;   
    z-index: 2;
    position: relative;
}